<!doctype html>
<html lang="cs">  
<head>  
    <title>NSI {% block title %}{% endblock %}</title>  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 
</head>  
<body>  


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">NSI</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% block navbar %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
      </ul>
      {% endblock %}
    </div>
  </div>
</nav>


{% block card %}
<div class="card">
    <div class="card-body">  
        Tato stránka slouží jako miniprojekt na předmět NSI
    </div>
</div> 
{% endblock %}

<div id="footer">
    {% block footer %}
    &copy; Copyright 2008 by <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">Jakub Matějů</a>.
    {% endblock %}
</div>


{% block script %}
<script src="/static/script.js"></script> 
{% endblock %}
</body>  
</html>