{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block navbar %} {{ super() }} {% endblock %}
{% block card %}
    <div class="card">
        <div class="card-body">  
            <form id="login-form">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" placeholder="Name">
                    <label for="name">Přihlašovací jméno</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" placeholder="Password">
                    <label for="password">Heslo</label>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Přihlásit</button>
              </form>
        </div>
    </div> 
{% endblock %}

{% block script %}
<script>

$('#login-form').submit(function(event) {
    event.preventDefault();
    var name = $('#name').val();
    var password = $('#password').val();
    $.ajax({
        url: '/api/login',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ name: name, password: password }),
        success: function(response) {
            window.location.reload();
        }
    });
});

</script>
{% endblock %}