{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block navbar %} {{ super() }} {% endblock %}
{% block card %}
    <div class="card">
        <div class="card-body">  
            <form id="add-user-form">
                <div class="mb-3">
                    <label for="inputName" class="form-label">Přihlašovací jméno</label>
                    <input type="text" class="form-control" id="inputName">
                </div>
                <label for="inputPassword" class="form-label">Heslo</label>
                <input type="password" id="inputPassword" class="form-control" aria-describedby="passwordHelpBlock">
                <div id="passwordHelpBlock" class="form-text">
                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                </div>
                <label for="inputPasswordAgain" class="form-label">Heslo znovu</label>
                <input type="password" id="inputPasswordAgain" class="form-control" aria-describedby="passwordHelpBlock">
                <br>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Souhlasím se zneužitím mých dat</label>
                </div>
                <button type="submit" class="btn btn-primary">Registrovat</button>
            </form>
        </div>
    </div> 
{% endblock %}

{% block script %}
<script>

$('#add-user-form').submit(function(event) {
    event.preventDefault();
    var name = $('#inputName').val();
    var password = $('#inputPassword').val();
    var passwordAgain = $('#inputPasswordAgain').val();
    $.ajax({
        url: '/api/register',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ name: name, password: password, passwordAgain: passwordAgain }),
        success: function(response) {
            $('#add-user-form')[0].reset();
            location.reload();
        }
    });
});

</script>
{% endblock %}